/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --width-content: clamp(360px, 100%, 700px);
  --main-font-family: Inter-Variable, sans-serif;
  --accent-font-family: PressStart, monospace;
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --first-title-font-size: clamp(49px, 1.7292rem + 5.3333vw, 65px);
  --second-title-font-size: clamp(14px, 0.125rem + 3vw, 23px);
  --font-weight-article-text: 400;
  --font-weight-article-title: 700;
  --header-padding-top: clamp(120px, 6.1667rem + 5.3333vw, 136px);
  --main-color: #000;
  --background-color: #fff;
  --heart-color: red;
  --background-image:
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7, #1a1a1a);
}